# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Streamlit
/.streamlit/secrets.toml

# VS Code
.vscode/

# Datasets
# *.csv
# *.csv.gz
# *.geojson
# *.tif
# data/processed/
